body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 .input_component {
   padding: 10px 15px ;

 }


#form {
    width: 76%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 12%;
    display: flex;



}
.cont {
    width: 500px;
    display: inline-block;
    margin-left: 500px;
    padding: 10px;
}

input[type=checkbox]:checked + label {
  text-decoration: line-through;
}
